h1.Main{
    text-align: center;
    color: forestgreen;

}

p.Oxi_default {
    font-size: 30px;
}

section{
    background-color: aqua;
    width: 60%;
    text-align:left;
    float:left;
    padding:10px
}

nav{
    background-color: green;
    text-align: left;
    float: left;
}

aside{
    float: right;
}