html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.small-column {
  width: 15%;
  /* 또는 원하는 너비에 따라 조정 */
}

.large-column {
  width: 70%;
  /* 나머지 공간을 차지하도록 설정 */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #333;
  border-radius: 20px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}