/** KoPup글씨체 사용을 위햐 외부 css import */
@import url('https://webfontworld.github.io/kopus/KoPubWorldDotum.css'); 

/** body와 html 속의 내용의 글자 폰트와 margin,padding값 초기화 */
body, html { 
  margin: 0;
  padding: 0;
  /* height: 100%; */
  font-family: 'KoPubWorldDotum';
}

/** 화면의 배경화면 삽입 */
html {
  background-image: url("../image/submain2.jpg");
}

/** a태그의 폰트 사이즈 초기화 및 밑줄 없애기 */
a {
  text-decoration: none;
  font-size: 18px;
}

/** 이미 방문했거나 방문하지 않은 웹사이트의 글자 색 통일 */
a:visited, :link {
  color: #eee;
}


/** 배너안에 글자의 색,크기,위치,폰트값을 지정하고 마진값 0으로 초기화.*/
div#banner > p {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 150px;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
}

/** 무순서 리스트의 margin, padding값 0으로 초기화 및 li태그의 앞에 기호 없애기 */
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
} 

/** 메뉴 바의 배경색 지정 및 가운데 정렬  */
.container {
  background-color: rgba(18, 33, 26, 1);
  text-align: center;
}

ul#nav>li {
  display: inline-block;
  width: 180px;
  height: 40px;
  padding: 10px 10px 5px 10px;
  position: relative;
}
/** 배너 메뉴의 글자 크기 지정 */
ul#nav>li>a {
  font-size: 23px;
}

ul#nav>li:hover {
  /*! 메뉴바에 포인터를 갖다 대었을 때 색깔이 변하도록 */
  background: #fff;
  background-color: rgba(25, 46, 35, 1);
}

ul#nav>li ul.sub {
  /*! 포인터를 위치시키지 않으면 하위메뉴가 보이지 않도록 */
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
}

ul#nav>li:hover ul.sub {
  /*! 메뉴바에 포인터를 위치시키면 하위메뉴가 보이도록  */
  /* display: block; */
  display: inline-block;
  background-color: rgba(25, 46, 35, 1);
}

ul#nav>li ul.sub>li {
  display: inline-block;
  width: 180px;
  padding: 5px 10px;
  background-color: #eee;
  background-color: rgba(255, 255, 255, 0.3);
}

ul#nav>li ul.sub>li:hover {
  background: #777;
  background-color: rgba(255, 255, 255, 0.5);
}

div.center>h2 {
  background-color: rgba(25, 46, 35, 1);
  color: white;
  margin: 0;
  padding-top: 10px;
  height: 40px;
  text-align: center;
}

div.center>ul>li {
  color: rgba(25, 46, 35, 1);
  margin: 10px 20px 10px 20px;
  font-weight: 400;
}

section.main {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  width: 400px;
  font-weight: 800px;
  font-size: 18px;
}

section>div>ul>li {
  font-size: 16px;
}

#border {
  border: 2;
  border-style: solid;
  border-color: #750;
}

#marginZero {
  margin: 0;
}

#banner {
  background-color: #777;
  background-color: rgba(25, 46, 35, 1);
  width: 100%;
  height: 150px;
}

.boxWrap {
  display: flex;
}

#marginTop {
  margin-top: 5px;
}

#wrapper {
  height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0px;
  text-align: right;
  color: white;
  background-color: rgba(25, 46, 35, 0.8);
  font-size: 16px;
  font-weight: 500;
}